<!DOCTYPE html>
<html>
<head>
    <title>欢迎注册</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p style="text-align: right">欢迎您:<a><%=user.email%></a></p>
</body>
</html>